
#cart-table-container {

    display: flex;
    justify-content: center;
    width: 100%;
}

.cart-table {

    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-family: Inter, serif;

}

.totalCartPrice {

    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 1.3rem;
}

.remove-item-button {

    width: 80px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.64);
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    transition: transform 0.2s ease-out;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
}

.remove-item-button:hover {
    background-color: red;
    cursor: pointer;
}

.cart-table th, td {

    padding: 10px;
    text-align: center;


}

