@import url('styles.css');

.dropdownbuttons {

}

.putincart {
    display: flex;
    justify-content: flex-end;
    /*margin-top: 20px;*/
}

#page {
    width: 100%;
    height: 2000px;
    /*background-color: #14dcbe;*/
    display: flex;
    justify-content: center;
}

#select {
    /*padding-top: 100px;*/
    margin-top: 70px;
    /*margin: 50px;*/
    height: 100px;
    display: flex;
    justify-content: center;

}

.dropdownmarginright {
    margin-right: 35px;
}

.dropdownpadding {
    padding-left: 30px;
    padding-right: 30px;
}

.centerpage {
    width: 42%;

}

.pagetext {
    margin-top: 200px;

}

.aref:hover {
    color: #4c76e0;
}




