@import url('styles.css');

.dropdownbuttons {

}

#select {
    /*padding-top: 100px;*/
    margin-top: 70px;
    /*margin: 50px;*/
    height: 100px;
    display: flex;
    justify-content: center;

}

.dropdownmarginright {
    margin-right: 35px;
}

.dropdownpadding {
    padding-left: 30px;
    padding-right: 30px;
}

.aref:hover {
    color: #4c76e0;
}




