@import url('styles.css');

#page {
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
}

#form {
    width: 360px;
    height: 500px;
}

#login-h1 {
    margin-bottom: 5px;
}

#loginbutton {
    width: 360px;
}

.input {
    border-collapse: unset;
    width: 340px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 25px 0px;
}

.label {
    display: block;
    margin-bottom: 11px;
}

.create-account {
    display: block;
    margin-bottom: 35px;
    color: black;
}