#page {
    width: 100%;
    height: 2000px;
    /*background-color: crimson;*/
    display: flex;
    justify-content: center;
}

#form {
    width: 360px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: deepskyblue;*/
}

#loginH1 {
    margin-bottom: 5px;
}

#opretH1 {
    margin-bottom: 35px;
}

#loginbutton {
    width: 360px;
}

.input {
    border-collapse: unset;
    width: 340px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 25px 0px;
}

.termsText {
    font-size: 13px;
    margin-bottom: 25px;
}

.label {
    display: block;
    margin-bottom: 11px;
}

.opretKonto {
    display: block;
    margin-bottom: 35px;
    color: black;
}