.h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
}

.h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
}

.p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
}

#page {
    width: 100%;
    height: 2000px;
    /*background-color: #14dcbe;*/
    display: flex;
    justify-content: center;
}

.centerpage {
    width: 42%;
}

.pagetext {
    margin-top: 100px;

}

.confirmbutton {
    display: flex;
    justify-content: flex-end;
    /*margin-top: 20px;*/
}

/* Global header styles */
.global-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.global-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-header-img img {
    max-height: 200px;
    width: auto;
    max-width: 100%;
}


.global-header-content .balance,
.global-header-content .email,
.global-header-content .logoutbutton,
.global-header-content .cart-symbol {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
}

.global-header-content .logoutbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.global-header-content .cart-symbol img {
    height: 40px;
    width: 40px;
}


/********Phone********/

@media screen and (max-width: 600px) {
    .h1 {
        font-family: Inter;
        font-weight: 700;
        font-size: 21px;
    }

    .h2 {
        font-family: Inter;
        font-weight: 600;
        font-size: 18px;
    }

    .p {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
    }

    #select {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

/****************/

.defbutton {
    width: 250px;
    height: 60px;
    background-color: #E0E1E2;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    transition: transform 0.2s ease-out;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
}

.defbutton:hover {
    background-color: #cbcbcb;
    cursor: pointer;
    /*transform: scale(1.1);*/
}

.green {
    background-color: #8DFF92;
    transition: transform 0.2s ease-out;
}

.green:hover {
    background-color: #4ce052;
    cursor: pointer;
    transform: scale(1.1);
}

.logoutbutton{
    display: block;
    margin-bottom: 35px;
    color: black;
    border: none;
    background-color: white;
    margin: 20px;
}

.logoutbutton:hover {
    cursor: pointer;
    color: #4c76e0;
}
