<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../public/css/indexStyle.css" th:href="@{/css/indexStyle.css}">
    <link rel="stylesheet" href="../public/css/cartStyle.css" th:href="@{/css/cartStyle.css}">


    <title>Cart</title>

</head>

<body>


<header>
    <div class="headers">
        <div class="headersplacement">


            <div class="headersleftside">
                <p class="headersaldo p">Saldo: <span th:text="${session.currentUser.balance}"></span> kr.</p>
            </div>


            <div class="headersrightside">
                <p class="headeremail p" th:text="${session.currentUser.email}"/>

                <form method="get">
                    <button class="logoutbutton p" th:formaction="logout">Logout</button>
                </form>

                <a href="http://localhost:7070/goToCart?">
                    <img src="../public/images/cart.png" th:src="@{/images/cart.png}" height="40" width="40"/>
                </a>
            </div>
        </div>
    </div>
</header>


<div id="page">

    <div class="centerpage">

        <div class="pagetext">
            <h1 class="h1">
                Indkøbskurv
            </h1>
            <div id="cart-table-container">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <th>Bund</th>
                        <th>Top</th>
                        <th>Antal</th>
                        <th>Pris</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="cart, index : ${cartList}">
                        <td th:text="${cart.baseName}"></td>
                        <td th:text="${cart.toppingName}"></td>
                        <td th:text="${cart.amount}"></td>
                        <td th:text="${cart.totalPrice} + ' kr.'"></td>
                        <td>
                            <form th:action="@{/removeFromCart}" method="post">
                                <input type="hidden" name="cartIndex" th:value="${index.index}">
                                <button class="remove-item-button" type="submit">Fjern</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="putincart">
            <p class="totalCartPrice" th:text="'Total pris ' + ${orderTotalPrice} + ' kr.'"></p>
            <form method="post">
                <input name="orderTotalPrice" type="hidden" th:value="${orderTotalPrice}">
                <button class="defbutton green" type="submit" formaction="newOrder">Bestil</button>
            </form>
            <form th:action="@{renderIndex}" method="get">
                <button class="defbutton green">Køb mere</button>
            </form>
        </div>

        <div class="insufficient-funds" th:if="${balanceError}">
            <p th:text="${balanceError}"></p>
        </div>
    </div>

</div>

</body>
</html>