<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/indexStyle.css"
          th:href="@{/css/indexStyle.css}">


    <title>Index</title>

</head>

<body>

<header>
    <div class="headers">
        <div class="headersplacement">
            <!--  TODO thymelead link til mail,saldo og cart ikon  -->

            <div class="headersleftside">
                <p class="headersaldo p"> Saldo: 1.000kr</p>
            </div>

            <!--  TODO  indsæt billed her    -->

            <div class="headersrightside">
                <p class="headeremail p">
                    <a class="aref" href="login.html">
                        email@email.dk
                    </a>
                </p>

                <p class="headercart p">
                    <a href="cart.html">
                        <img src="../images/cart.png" height="40" width="40"/>
                    </a>
                </p>

            </div>


        </div>
    </div>
</header>


<div id="page">

    <div class="centerpage">

        <div class="pagetext">
            <h1 class="h1">
                Velkommen
            </h1>

            <h2 class="h2">
                Øens bedste cupcakes. Vælg og bestil:
            </h2>

        </div>
        <form method="post">
            <div id="select">
                <select name="base" id="bund" class="defbutton dropdownmarginright dropdownPadding">
                    <option value="">Vælg bund</option>
                    <option th:each="base : ${baseList}" th:value="${base.baseID}"
                            th:text="${base.baseName + ' - ' + base.basePrice + ' kr.'}"></option>
                </select>

                <select name="topping" id="top" class="defbutton dropdownmarginright dropdownPadding">
                    <option value="">Vælg top</option>
                    <option th:each="topping : ${toppingList}" th:value="${topping.toppingID}"
                            th:text="${topping.toppingName + ' - ' + topping.toppingPrice + ' kr.'}"></option>
                </select>

                <select name="amount" id="antal" class="defbutton dropdownPadding">
                    <option value="">Antal</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <div class="lægikurv">
                <button type="submit" formaction="addToCart" class="defbutton green">
                    Læg i kurv
                </button>
            </div>
        </form>
        <form method="get">
            <button formaction="goToCart" class="defbutton green">
                Gå til kurv
            </button>
        </form>
    </div>

</div>

</body>
</html>