<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/loginStyle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>

<header>

</header>

<div id="page">

    <div id="form">
        <form id="loginForm">
            <h1 class="h1" id="loginH1">Log in/Opret</h1>

            <label class="p label" for="email">Email</label>
            <input type="text" class=input id="email" name="email">

            <label class="p label" for="password">Password</label>
            <input type="password" class=input id="password" name="password">

            <p class="p" id="termsText">By creating an account, you agree to our Terms and have read and acknowledge the Global Privacy Statement.</p>

            <button formaction="submit" class="defbutton green" id="loginbutton">Log ind</button>
        </form>
    </div>


</div>


</body>
</html>